body {
	/*background-color: #112e4b;*/
	background-color: black;
}

.welcome {
	position: absolute;
	font-size: 4vw;
	margin-top: 32vw;
	margin-left: 32vw;
	color: white;
	font-family: "Old English Text MT", "Vivaldi", serif;
	z-index: 3;
}

.cinna {
	position: absolute;
	display: block;
	width: 38vw;
	height: 42vw;
	margin: -10vw 50vw;
	/*placed*/
	z-index: 0;
	clip: rect(20px 500px);
}

.name {
	position: relative;
	font-size: 4vw;
	margin-top: 7vw;
	margin-left: 20vw;
	color: white;
	font-family: "Old English Text MT", "Vivaldi", serif;
	z-index: 1;
}

.topofall {
	position: absolute;
	z-index: 1;
}

.fish2 {
	position: absolute;
	display: block;
	width: 45vw;
	height: 45vw;
	margin: -16vw -6vw;
	/*placed*/
	z-index: 1;
}

.fish {
	position: absolute;
	display: block;
	width: 55vw;
	height: 55vw;
	margin: -5vw -1vw;
	/*placed*/
	z-index: 1;
}

.fruit {
	position: absolute;
	display: block;
	width: 10vw;
	height: 28vw;
	margin: 4vw 15vw;
	/*placed*/
	z-index: 3;
}

.puding1 {
	position: absolute;
	display: block;
	width: 12vw;
	height: 12vw;
	margin: 69vw 68vw;
	/*placed*/
	z-index: 2;
}

.puding6 {
	position: relative;
	display: block;
	width: 24vw;
	height: 20vw;
	margin: 8vw -1vw;
	/*placed*/
	float: right;
	z-index: 2;
}

.puding5 {
	position: relative;
	display: block;
	width: 15vw;
	height: 15vw;
	margin: 1vw 0vw;
	/*placed*/
	float: right;
	z-index: 2;
}

.puding7 {
	position: relative;
	display: block;
	width: 10vw;
	height: 8vw;
	margin: -9vw 30vw;
	/*placed*/
	float: right;
	z-index: 2;
}

.puding2 {
	position: relative;
	display: block;
	width: 11vw;
	height: 9vw;
	margin: -1vw -1vw;
	/*placed*/
	float: left;
	z-index: 2;
}

.puding4 {
	position: relative;
	display: block;
	width: 27vw;
	height: 23vw;
	margin: 2vw;
	/*placed*/
	float: right;
	z-index: 2;
}


.intro {
	border-style: solid;
	border-color: #FFFFBB;
	border-radius: 0;
	border-width: 0.4vw;
	position: relative;
	margin-top: 40vw;
	margin-bottom: 10vw;
	margin-right: 14vw;
	margin-left: 14vw;
	padding: 8vw;
	padding-top: 0.9vw;
	padding-bottom: 10vw;
	text-align: left;
	color: white;
	font-family: "Microsoft JhengHei";
	font-size: 1.8vw;
	z-index: 1;
}

.context {
	margin-top: 10px;
	margin-bottom: 300px;
}

.story {
	margin-bottom: 500px;
}

.top {
	margin-top: -70px;
	margin-bottom: 300px;
}

.fiexd-header {
	position: fixed;
	/*固定位置定位*/
	top: 0;
	/*距離上方 0 像素*/
	z-index: 2;
	/*重疊時會在其他元素之上*/
	top: 0px;
	right: 0px;
	width: 100%;
	z-index: 4;
}

.tea {
	width: 100%;
	height: 10%;
	margin-right: 50%;
	z-index: 0;
}

.slide {
	z-index: -1;
}

a:hover {
	color: yellow;
}
